<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= category[0].toUpperCase() + category.substring(1) %> Menu</title>
</head>

<body>
    <%- include('./partials/nav') %>

        <h1><%= category[0].toUpperCase() + category.substring(1) %></h1>

        <%- include('./partials/menu-list', { menuItems: menuItems }) %>
        
</body>

</html>